.chart-div {
    height: 400px;
    max-height: 400px;
    overflow: auto;
}

.bar-chart {
    background: url("../resources/barChartIcon.png");
    width: 160px;
    height: 160px;
    background-color: transparent!important;
    border-color: transparent!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cake-chart {
    background: url("../resources/cakeChartIcon.png");
    width: 160px;
    height: 160px;
    background-color: transparent!important;
    border-color: transparent!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.donut-chart {
    background: url("../resources/donutChartIcon.png");
    width: 160px;
    height: 160px;
    background-color: transparent!important;
    border-color: transparent!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}