.project-card {
    max-height: 5em;
    height: 5em;
    width: 100%;
    overflow-y: scroll;
    color: #282c34;
}

.tasks-resume {
    max-height: 6em;
    overflow-y: scroll;
    color: #282c34;
}

.task-resume-item {
    font-size: 15px;
}