.project-card {
    max-height: 5em;
    height: 5em;
    width: 100%;
    overflow-y: auto;
    color: #282c34;
}

.tasks-resume {
    max-height: 6em;
    overflow-y: auto;
    color: #282c34;
}

.task-resume-item {
    font-size: 15px;
}

.tasks-info {
    color: #282c34;
    font-size: 15px;
    max-height: 320px;
    overflow-y: auto;
    height: 320px;
}

.task-description {
    height: 250px;
}